.menu-item {
  margin: 0 10px;
  transition: 0.25s;
  position: relative;
  cursor: pointer;
}

.menu-item:hover {
  color: rgb(255, 140, 0);
}

.menu-sub-items {
  color: black;
  background-color: white;
  position: absolute;
  top: 100%;
  z-index: 10;
}
.menu-sub-items > div {
  width: 100px;
  margin: 5px;
  cursor: pointer;
}
